<div class="empty-state">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon">
        <path d="M8 22h8"></path>
        <path d="M12 11v11"></path>
        <path d="M7 11a5 5 0 0 1-5-5c0-2.8 2.2-5 5-5h10a5 5 0 0 1 5 5c0 2.8-2.2 5-5 5"></path>
        <path d="M12 11c3.866 0 7-3.134 7-7H5c0 3.866 3.134 7 7 7Z"></path>
    </svg>
    <h3>No se encontraron cócteles</h3>
    <p>Intenta con otros filtros o realiza una nueva búsqueda.</p>
</div>
